/* tcsBU 1.0.0 (nightly) (c)  amsantos@fc.up.pt */
html,body { height: 100%; margin: 0; padding: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px;}

html { overflow: hidden; }

@font-face {
  font-family: 'tcsbu';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAyoAAAC8AAAAYGNtYXAaVsyeAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5ZpqJlIsAAAF4AAAWvGhlYWQGmbp6AAAYNAAAADZoaGVhCAQEGgAAGGwAAAAkaG10eGXBADYAABiQAAAAcGxvY2FRqEwqAAAZAAAAADptYXhwADYA2QAAGTwAAAAgbmFtZeNsb8MAABlcAAABbnBvc3QAAwAAAAAazAAAACAAAwPpAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmFwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAQAg5hf//f//AAAAAAAg5gD//f//AAH/4xoEAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAAHAAD/wAQAA8EAFwAvAFkAbgB7AJAAnQAAAQ4BDwEOARUUFjMyNj8BPgE1NCYjIgYjByIGDwEOARUUFjMyNj8BPgE1NCYjIjAxEw4BFTAUMREhIgYVFBYzIREUFjMyNjURITI2NTQmIyERMDQxNCYjIgYjFyIOAhUUHgIzMj4CNTQuAiMVMhYVFAYjIiY1NDYzASIOAhUUHgIzMj4CNTQuAiMVMhYVFAYjIiY1NDYzAh0FCAMbBAURDAYKBB0FBhEMAgQCUwYKBB0EBREMBgoEHQQFEQsB8AoN/voMEREMAQYRDAwRAQYMEREM/voRDAEEAQYuUj0jIz1SLi5SPSMjPVIuRmJiRkZiYkb+IC5SPSMjPVIuLlI9IyM9Ui5GYmJGRmJiRgHrAQYDGQQLBgwRBAQbBAwGDBEBVQUEGwQLBgwRBAQcBAsGDBECKgIQCgH++hEMDBH++gwREQwBBhEMDBEBBgEMEQFgIz1SLi5SPSMjPVIuLlI9IzhiRkZiYkZGYv5YIz1SLi5SPSMjPVIuLlI9IzhiRkZiYkZGYgAAAAcAAP/ABAADwAAUACEAXQB7AJkArgC7AAABIg4CFRQeAjMyPgI1NC4CIxUyFhUUBiMiJjU0NjMBDgEVMBQxFSMqASMiBhUUFjM6ATsBFRQWMzI2PQEzOgEzMjY1NCYjKgErATU4ATE0JiMqASMwIiMwIjEXDgEPAQ4BFRQWMzI2PwE+ATU0JiMqASMwIjEqATEHDgEPAQ4BFRQWMzI2PwE+ATU0JiMqASMwIjEqATEHIg4CFRQeAjMyPgI1NC4CIxUyFhUUBiMiJjU0NjMDIC5SPSMjPVIuLlI9IyM9Ui5GYmJGRmJiRv7cCg1/AQIBDBERDAECAX8RDAwRfwECAQwREQwBAgF/EQwBAQEBAQFfBQkDGwUGEQwGDAQdBAUQDAEBAQEBAaMFCAMbBAURDAYKBB0EBhEMAQIBAQEB2C5SPSMjPVIuLlI9IyM9Ui5GYmJGRmJiRgPAIz1SLi5SPSMjPVIuLlI9IzhiRkZiYkZGYv74AhAKAYMRCwwRgwwREQyDEQsMEYMMEUIBBQQaBAwHDBAFBRsECwYMEaIBBgMaBAsGDBEEBBwECwYMERwjPVIuLlI9IyM9Ui4uUj0jOGJGRmJiRkZiAAYAAP/AA24DwAAjADAAOgCOAM4A1gAAEyIGBw4BFREUFhceATMhMjY3PgE1ETQmJy4BLwEuAScuASMhFyEVFBYXHgE7AREhEQUeAR8BHgEXIzUBIgYHDgEHDgEVFBYXHgEXHgEXHgEVFAYHDgEjIiYnLgEnBx4BFx4BMzI2Nz4BNz4BNTQmJy4BJy4BJy4BJy4BNTQ2Nz4BMzIWFx4BFzcuAScuASMhIgYHDgEHDgEVFBYXHgEXHgEzMjY3PgE3NSMVMxUOAQcOASMiJicuATU0Njc+ATMyFhceARc3LgEnLgEnLgEjBRczNyMHJyM3CxQICAgICAgUCwMACxQICAgGBgYNCLIIFg4OGQv+ABIBtwgICBQL7v0kAgAIDQOyAwcD1/50EhwKChAFBQUKCgohFw4SBAQEBAQECwgKEQUDBAFEAQ4LCykdERsLCxEGBgYEBQUOCgoiFwkNAgMCBAMDCQYHDQQEBgFDAg4MCyIWAesUHwwPFggICAgHBxMNDSIUERwMDBwQbjAHDQUFDAYNEwcHBwcHBxIMCA0FBQcCRQMKBgYQCQkdE/6IV0xVRzM0SgPACAgIFAv8bgsUCAgICAgIFAsCkgsZDg4WCLIIDgYGBUnuCxQICAj9twNuBQMGA7MDDQjX/kIEBQQNCAgQCQ0WCQkOBQMGBAQIBAUIBAQDBwcEDQgEER0LCwwFBQUOCQkUCwkRCAgNBQUKBQIEAgIFAwQGAwMCAwQECggEEhkICAkFBgcVDg4hExIfDg4UBwcHBAQEDgtiMBYEBQICAggICBoTERoICAkEAwMLBgwLEwcHCwMDBATl5aWlAAQAAAAJA24DdwAEACkAPgBYAAA3ITUhFSEzETQnJi8BJicmIxUUBwYjISInJj0BIxEzNTQ3NjMhMhcWHQEDNTQnJisBIgcGHQEUFxY7ATI3NjUFERQHBiMhIicmNRE0NzYzITIXFh8BFhcWFdsBt/5JAgBKBgYGoAYODQkQEBf+txcQEElJEBAXAdwWEBDbBQYHbgcGBQUGB24HBgUBbhAQF/0AFxAQEBAXAhIXGxwQoBALDFLc3AIACA4OBqEFBgbuFxAQEBAX7v0k7hcQEBAQF+4CE7YIBQYGBQi2CAUGBgUIE/3uFxAQEBAXAwAXEBAMCxCgEBscFwAAAAMAAABSBEMDdwAUADAAVQAAATQjISIHBg8BBhUUMyEyNzY/ATY1JSE1NCcmIyEiJyY9ATQnJisBIgcGFRE3Njc2MwUUDwEGBwYjISInJjURNDc2OwEyFxYdASEyFxYdATMyFxYXFhUD+h/9kxcaGg+oCh4CbhcaGg6oC/10AbcQEBf+txcQEBAQF7cXEBCSGSopJwLVGqkZKSom/ZI1JSYmJTW3NCYmATc0JiZtHxoaDAkBrBQMDRHQDQoUDQ0R0AwKXVwWEBAQERYlFxAQEBAX/hi0HxMUXSMizx4UFCYmNAIlNCYmJiY0EiYmNFwODhoSFQAFADYAUwO6A3cABAAJAA4AEwAYAAAlIxEzESEjETMRKwERMxErAREzESsBETMRA7rQ0P7hjIz/Tk7KJiaKEhJTAyT83AMk/NwDJPzcAyT83AMk/NwAAAAAAwAA/8ADtwN3ABQAJQBMAAABFRQHBiMhIicmPQE0NzYzITIXFhUXNCcmIyIHBhUUFxYzMjc2NQEUBwYjIi8BBiMiJyYnJicmNTQ3Njc2NzYzMhcWFxYXFhUUBxcWFQJJBQYH/rcIBQYGBQgBSQcGBUlLS2ppTEtLTGlqS0sBJRYVHh8VxGZ+UUtLNjYfICAfNjZLS1FSS0o2NiAgR8QVAfclBwYFBQYHJQcGBQUGBxJpS0xMS2lqS0tLS2r+JB4WFRbDRyAgNjZKS1JRS0o2NiAgICA2NkpLUX5mxBYeAAADAAD/wAO3A3cALAA9AGQAAAEVFAcGKwEVFAcGKwEiJyY9ASMiJyY9ATQ3NjsBNTQ3NjsBMhcWHQEzMhcWFRc0JyYjIgcGFRQXFjMyNzY1ARQHBiMiLwEGIyInJicmJyY1NDc2NzY3NjMyFxYXFhcWFRQHFxYVAkkFBgeABgUHJQcGBYAIBQYGBQiABQYHJQcFBoAHBgVJS0tqaUxLS0xpaktLASUWFR4fFcRmflFLSzY2HyAgHzY2S0tRUktKNjYgIEfEFQH3JQcGBYAHBgUFBgeABQYHJQcGBYAIBQUFBQiABQYHEmlLTExLaWpLS0tLav4kHhYVFsNHICA2NkpLUlFLSjY2ICAgIDY2SktRfmbEFh4AAAAABAAA/8AEAAPAABQAIAArADkAAAEiDgIVFB4CMzI+AjU0LgIjFx4DFRQGByUzEQc6ATMRIT4DNxMFDgMjIi4CJyE1AgBqu4tQUIu7amq7i1BQi7tqGFmac0IXFf6DAUYCBQL+ZgRBa49SJgF+HlBgbTtYnHhLBwG2A8BQi7tqaruLUFCLu2pqu4tQQQVJeZ5aNGEs0gGuAf5YU5NxSQj+HtIuSjUdQG+WVgEAAAgAAP/ABAADwAAEAAkAIgA/AFgAdQCOAKsAABMRIREhFyERIREXIgYHDgEVFBYXHgEzMjY3PgE1NCYnLgEjFyIGBw4BHQEUFhceATMhMjY3PgE9ATQmJy4BIyEHIgYHDgEVFBYXHgEzMjY3PgE1NCYnLgEjFyIGBw4BHQEUFhceATMhMjY3PgE9ATQmJy4BIyEHIgYHDgEVFBYXHgEzMjY3PgE1NCYnLgEjFyIGBw4BHQEUFhceATMhMjY3PgE9ATQmJy4BIyEABAD8ACADwPxAiRIfDQ0ODg0NHxITIA0NDAwNDSATpAMFAgIDAwICBQMCNAMFAwIBAQIDBQP9zKQSHw0NDg4NDR8SEyANDQwMDQ0gE6QDBQICAwMCAgUDAjQDBQMCAQECAwUD/cykEh8NDQ4ODQ0fEhMgDQ0MDA0NIBOkAwUCAgMDAgIFAwI0AwUDAgEBAgMFA/3MA8D8AAQAJfxGA7poDg8OJBQVIw8ODw8ODyMVFCQODw4hAgMCBgRjAwYDAgMDAgMGA2MEBgIDAugODw4kFBUiDw4QEA4PIhUUJA4PDiEDAgMFBGMDBgMCAgICAwYDYwQFAwID5w4PDiQUFSMPDg8PDg8jFRQkDg8OIgEDAgYEYwMGAwIDAwIDBgNjBAYCAwEAAAcAAP/ABAADwQADAAcACwAPABQAGQAeAAABMxEjATMRIzEhFSERIRUhJREjETMhESMRMyERIxEzA+AgIPwgICAEAPwABAD8AANAQED+4EBA/uBAQAOg/EADwPxAIAQAJCX7/wQB+/8EAfv/BAEAAAAFAAD/wAQAA8AABAAJAA4AEwAYAAATESERIRczESMRITMRIxEhMxEjESEzESMRAAQA/AAggIABAKCgASCgoAEggIADwPwABAAk/EQDvPxEA7z8RAO8/EQDvAAAAAcAAP/ABAADwAADAAcACwAPABQAGQAeAAAFFSE1ARUhNTERIxEhESMREyE1IRURITUhFREhNSEVA+D8QAPA/EAgBAAkJPwABAD8AAQA/AAEACAgIAPgICD8AAQA/AAEAPzAQEABIEBAASBAQAAAAAAFAAD/wAQAA8AABAAJAA0AEQAVAAATESERIRchESERARUhNQEVITUBFSE1AAQA/AAgA8D8QAPA/EADwPxAA8D8QAPA/AAEACT8RAO8/USAgAEggIABIICAAAAAAAcAAP/ABAADwAAEAAgADQASABcAHAAgAAABIREhEQcVJzMVEQEhFxkBASEBAyEBEQEpAScRASEjNRcEAPwABAAgZGT+BAE9v/xtAT0CVjL+xP2uA47+af7DugH3/mlgYAPA/AAEACBkZL/+wwH8v/5p/sMDk/2q/poCUgE8/HK6AT3+CWBgAAAHAAD/wAQAA8AABAAJABAAFQAaAB8AJAAAExEhESEXIREhEScVATM1ASMhATUBIyEBNScjARUBMwERFRczAQAEAPwAIAPA/EAgA69R/GRkAUYCuv38tgFqAVCatv1QAhi1/TOBtP7LA8D8AAQAJPxEA7wkUfxRZAOc/Ua1AgX+sLWb/s21/egCzf5ptoABNgAHAAD/wAQAA8AABAAIAA0AEgAXABwAIAAAExEhESEXMwc1MyEBETcpAQERAQURASEBGQEHIQERFSM3AAQA/AAgZGS/AT3+BL8BlwE9/G0CVgFm/a7+xAOOuv7DAfdgYAPA/AAEACBkZP4EAT2//G0BPQJWMv7E/a4Djv5p/sO6Aff+aWBgAAAABwAA/8AEAAPAAAQACQAQABUAGgAfACQAAAEhESERBxEhESE3IwEVMwE1EQEzATURATM3NQEjARUBISMHFQEEAPwABAAk/EQDvCRR/FFkA5z9RrUCBf6wtZv+zbX96ALN/mm2gAE2A8D8AAQAIPxAA8Ag/FFRA5xk/rr9RgIEtv6W/rCatgKw/ei1As2BtAE1AAAAAAoAAP/ABAEDwQAEAAkADgATABgAHQAhACUAKQAtAAAFETMRIyERMxEjIREzESMBITUhFRMhNSEVESE1IRUDESMRIREjESEVITUBFSE1AwBAQP7gQED+4EBAA0D8AAQAAfv/BAH7/wQBAST8RCAD4PxAA8D8QEAEAfv/BAH7/wQB+/8DAEBA/uBAQP7gQEADQPwABAD8AAQAICD8ICAgAAAKAAD/wAQAA8AABAAJAA4AEwAYAB0AIQAlACkALQAABREzESMhETMRIyERMxEjASE1IRURITUhFREhNSEVExEjESERIxEhFSE1ARUhNQLggID+4ICA/uCAgANA/EADwPxAA8D8QAPAICT8RCAD4PxAA8D8QCADwPxAA8D8QAPA/EACwICA/uCAgP7ggIADYPwABAD8AAQAICD8ICAgAAAABgAA/8AEAAPAAAwAGQAmADMAOAA9AAABFAYjIiY1NDYzMhYVIRQGIyImNTQ2MzIWFQEUBiMiJjU0NjMyFhUhFAYjIiY1NDYzMhYVAREhESEXIREhEQNALyEhLy8hIS/+QC8hIS8vISEvAcAvISEvLyEhL/5ALyEhLy8hIS/+gAQA/AAgA8D8QAKwIS8vISEvLyEhLy8hIS8vIf5AIS8vISEvLyEhLy8hIS8vIQLQ/AAEACT8RAO8AAYAAP/ABAADwAAMABkAJgAzADgAPQAAARQGIyImNTQ2MzIWFQEUBiMiJjU0NjMyFhURFAYjIiY1NDYzMhYVARQGIyImNTQ2MzIWFQERIREhFyERIREBwF5CQl5eQkJeAcBeQkJeXkJCXl5CQl5eQkJe/kBeQkJeXkJCXv5ABAD8ACADwPxAAqBCXl5CQl5eQv5AQl5eQkJeXkIBwEJeXkJCXl5C/kBCXl5CQl5eQgLg/AAEACT8RAO8AAAAGf/+/74D/gPAABgAHAAiACYALAAwADQAOAA9AEMASQBOAFMAVwBbAGEAZgBsAHIAeAB8AIAAhACIAIwAABMVIxEhESMnIxcjNyMHIycjFyM3IwcjJyMXMwcnOwEXByc3OwEHJzsBFwcnNzsBBycFFwc1BRUnNwUXByc3IRcVByc3BRcHJzU3BRcHJzcFFwcnNwUVJzcFFwc1BRcVByc3BRcHJzcFFwcnNTcFFwcjJzcFFwcjJzcFFSc3BRcHNQUXIzcFFyM3BRcjNwACBADFAlUCGAJWAqcCVQIYAlYC1AI2WJRKSupYXqGKda1nMzS9WF6Ki1+taDQ0/MVaWgPAJyf+RYqhiqEBalFRi4v9FYuibYQCNoqhiqH+f4uhi6EChycn/EBDQwNvUWiKof5/i6GLof5/i6FXbQI2i3dUYaH+gIpggkqiAp09PfxALCwDWE2ZTP6ANWw3/n8fPh8DwAL8AAQAAgICAgICAgICIktLXqKLdTQ0XouLXjQ0HFlZshxNJyZRiqKLoVFyUouKFouhbTqFn4qii6EXiqGKoU1NJyYRQ0OGQFFyaYuhF4qhiqEWi6FXaG2findgoRaLYEqhN3s+PT4sLVkqTEwWNjYXHx8ADwAC/74EAgO+AAQACQAyADcAPABBAEYASwBQAFUAWgBfAGQAaQBuAAATESERIRchESERJxUXBxEXBxEXBxUzNxchNxchNxczNSc3ESc3ESc3NSMHJyEHJyEHJyMFFwcnNyEXByc3BxcHJzchFwcnNwUXByc3BRcHJzcFFwcnNwUXByc3BRcHJzcFFwcnNwUXByc3BRcHJzcCBAD8ACADwPxAIDw8JiYPD1gNDQFOJSUBIjs7XEFBKysqKlUsLP7uLCz+7kJDUAFeX3VfdQFqX19eXrVfdV91AWpfX15e/RZedV92AjVfdV91/oBedV92AjVfdWB2/oBfdl92/n9fdl51AjVgdl91/oBfdl51A778AAQAIPxAA8AgXTw9/uImJv61Dw9VDQ0lJTs7UEFBARUrKwEUKipZLCwsLENDJF91X3VfXl5ftV91X3VfXl5fFl92X3afX3VfdRZfdl92nmB1YHUXX3ZfdhdfdV91nl92YHUXX3VfdQAAAAABAAAAAQAAYverR18PPPUACwQAAAAAANGcuv8AAAAA0Zy6///+/74EQwPBAAAACAACAAAAAAAAAAEAAAPA/8AAAARA//7//QRDAAEAAAAAAAAAAAAAAAAAAAAcBAAAAAAAAAAAAAAAAgAAAAQAAAAEAAAABAAAAAQAAAAEQAAABAAANgPAAAADwAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAP/+BAAAAgAAAAAACgAUAB4A7gHSAwoDiAQCBC4EngUqBYAGdgauBtwHFAdCB4YHzggSCFwIrAj8CVgJtgqgC14AAAABAAAAHADXABkAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEABQAAAAEAAAAAAAIABwBOAAEAAAAAAAMABQAwAAEAAAAAAAQABQBjAAEAAAAAAAUACwAPAAEAAAAAAAYABQA/AAEAAAAAAAoAGgByAAMAAQQJAAEACgAFAAMAAQQJAAIADgBVAAMAAQQJAAMACgA1AAMAAQQJAAQACgBoAAMAAQQJAAUAFgAaAAMAAQQJAAYACgBEAAMAAQQJAAoANACMdGNzYnUAdABjAHMAYgB1VmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwdGNzYnUAdABjAHMAYgB1dGNzYnUAdABjAHMAYgB1UmVndWxhcgBSAGUAZwB1AGwAYQBydGNzYnUAdABjAHMAYgB1Rm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'tcsbu';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete-node:before {
  content: "\e600";
}
.icon-delete-link:before {
  content: "\e601";
}
.icon-file-svg:before {
  content: "\e602";
}
.icon-file-save:before {
  content: "\e603";
}
.icon-folder-open:before {
  content: "\e604";
}
.icon-line-width:before {
  content: "\e605";
}
.icon-zoom-out:before {
  content: "\e606";
}
.icon-zoom-in:before {
  content: "\e607";
}
.icon-outline:before {
  content: "\e608";
}
.icon-legend:before {
  content: "\e609";
}
.icon-lines-1:before {
  content: "\e60a";
}
.icon-lines-2:before {
  content: "\e60b";
}
.icon-lines-3:before {
  content: "\e60c";
}
.icon-lines-4:before {
  content: "\e60d";
}
.icon-lines-5:before {
  content: "\e60e";
}
.icon-lines-6:before {
  content: "\e60f";
}
.icon-lines-7:before {
  content: "\e610";
}
.icon-lines-8:before {
  content: "\e611";
}
.icon-cross-1:before {
  content: "\e612";
}
.icon-cross-2:before {
  content: "\e613";
}
.icon-cross-3:before {
  content: "\e616";
}
.icon-cross-4:before {
  content: "\e617";
}
.icon-circles-1:before {
  content: "\e614";
}
.icon-circles-2:before {
  content: "\e615";
}


#gview {  height: 100%;  width: 100%;  position: absolute; left: 0; top: 0; }

.w2ui-field input {
   width: 80px;
   text-align: left;
}

input[type="file"] {
      display: none;
}

.zoom{
      display: none;
}

/* When del link or del buttons are checked, 
 * they assume this bg-color, overriding
 * the w2ui default (white) */

.w2ui-toolbar table.w2ui-button.checked {
  border: 1px solid #aaaaaa;
  background-color: #FFFF00;
}

path {
    pointer-events: none;
}

#loadData {
  width: 120px;
  vertical-align: center;
}

#start,
#stop,
#tcsdata,
#groups,
#haplotypes,
#gpatterns {
  width: 90%;
}

